.Dropzone {
    height: 100vh;
    width: 100%;
    /* background-color: #fff; */
    /* border: 2px dashed rgb(187, 186, 186); */
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
  }
  
  .Highlight {
    background-color: #4b4b4b;
  }
  
  .Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
  }
  
  .FileInput {
    display: none;
  }

